{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
    Ajouter un Personnage - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>Ajouter un personnage</h2>

    {{ include("/Perso/form.html.twig") }}

    <p>
        Attention : ce personnage sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>



{% endblock %}