

{% extends "layout.html.twig" %}

{% block title %}
    Le personnage a été supprimer merci! :D
{% endblock %}

{% block ocplatform_body %}

    <h2>Le personnage a bien été supprimée merci :D</h2>

    <div class="well">
        Vous pouvez revenir au menu
    </div>





{% endblock %}